<mat-form-field>
  <mat-label>Frequency of observations</mat-label>
  <mat-select [formControl]="quoteControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let quote of quotes" [value]="quote">
      {{quote.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="quoteControl.hasError('required')">Please choose frequency</mat-error>
  <mat-hint>{{quoteControl.value?.description}}</mat-hint>
</mat-form-field>

<div *ngIf="quoteControl.value.name == 'Intraday'">
  <mat-form-field>
    <mat-label>Intraday variation</mat-label>
    <mat-select [formControl]="numControl" required>
      <mat-option *ngFor="let num of numbers" [value]="num">
        {{num.value}}
      </mat-option>
    </mat-select>

  </mat-form-field>
</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='assign($event.option.value)'>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}} |
        {{option.symbol}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
